{% extends 'books/base2.html' %}
    {% block content %}
                
        <div class="container">
        {% load static %}
            <img src="{% static 'images/6.jpg' %}" height="760px"/>
            <div class="containee">
                <h2>Connect with us through social media:</h2><br/><br/>
                <table>
                    <tr>
                        <td>Email Us:</td>
                        <td><a href="mailto:malihanan09@gmail.com">connect@booksorority.com</a></td>
                    </tr>
                    <tr>
                        <td>Instagram:</td>
                        <td><a href="https://instagram.com/mia9059">@bookSorority</a></td>
                    </tr>
                    <tr>
                        <td>Facebook:</td>
                        <td><a href="https://m.facebook.com">@booksorority_page</a></td>
                    </tr>
                    <tr>
                        <td>Twitter:</td>
                        <td><a href="https://twitter.com/mia9059">@booksorority</a></td>
                    </tr>
                </table><br/><br/><br/>
                  <p>
                    We are a community encouraging people to read.<br/>
                    Be a part here and grow together.<br/>
                    Start by adding one of your used books or buy one from a member here.<br/>
                    We assure you of good quality books delivered to you safe and in time.<br/><br/>
                </p>
                <h2>
                    We Thank You for the visit!
                </h2>
            </div>
        </div>
    
    {% endblock %}