{% extends 'books/base2.html' %}
    {% block content %}
      <div class="bookList">
    	<table>
    		<tr>
    			<th colspan="3">{{ books.name }}</th>
    		</tr>
    		<tr>
    			<td rowspan="9"><div class="detailImage"><img src='{{ MEDIA_URL }}{{ books.image }}' height="500px"></div></td>
    			<td>Author: </td>
    			<td>{{ books.author }}</td>
    		</tr>
            <tr>
                <td>Seller: </td>
                <td>{{ books.user.username }}</td>
            </tr>
    		<tr>
    			<td>Genre: </td>
    			<td>{{ books.genre }}</td>
    		</tr>
    		<tr>
    			<td>ISBN: </td>
    			<td>{{ books.isbn }}</td>
    		</tr>
    		<tr>
    			<td>Edition: </td>
    			<td>{{ books.edition }}</td>
    		</tr>
    		<tr>
    			<td>Price: </td>
    			<td>Rs. {{ books.price }}</td>
    		</tr>
    		<tr>
    			<td>Publisher: </td>
    			<td>{{ books.publisher }}</td>
    		</tr>
    		<tr>
    			<td>Publish Year: </td>
    			<td>{{ books.publishyear }}</td>
    		</tr>
    	</table>
      </div>
    {% endblock %}